


.app{
  .link{
   color:inherit;
   text-decoration: none;
   transition: all ease-in-out;
   transition-duration: 10;
  }
  
  @media screen and (min-width:900px) {
      .trending{
          position: relative;
          top: 0px;
       }
  }
  @media screen and (min-width:1430px) {
      .trending{
          position: relative;
          top: 250px;
       }
  }
  @media screen  and (min-width:1440px){
      .trending{
          position: relative;
          top:350px;
      }
  }
}

.link:hover{
  color:rgb(56, 56, 233);
}

  .trending{
      position: relative;
      top:250px;
   }
  
